# Server Configuration
PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

# Database Connection (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=product_pay_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/product_pay_db

# Payment Gateway Sandbox Configuration
PAYMENT_GATEWAY_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
PAYMENT_GATEWAY_PUBLIC_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
PAYMENT_GATEWAY_PRIVATE_KEY=prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg
PAYMENT_GATEWAY_EVENTS_SECRET=stagtest_events_2PDUmhMywUkvb1LvxYnayFbmofT7w39N
PAYMENT_GATEWAY_INTEGRITY_SECRET=stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp

# Business Rules
BASE_FEE_IN_CENTS=500000
DELIVERY_FEE_IN_CENTS=1000000
